<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">
  <md-toolbar class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
      <span>What??</span>
      <div>Firstname Lastname</div>
      <div>email@domainname.com</div>
    </div>
  </md-toolbar>
  <md-list>
    <md-item>
      <a>
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
          <div class="inset">
            <md-icon>dashboard</md-icon>
          </div>
          <div class="inset">Menu 1
          </div>
        </md-item-content>
      </a>
    </md-item>
    <md-divider></md-divider>
    <md-subheader>Management</md-subheader>
    <md-item>
      <a>
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
          <div class="inset">
            <md-icon>group</md-icon>
          </div>
          <a class="inset" ui-sref="drexler.testing" translate>Language
          </a>
          <a class="inset" href="abc.html" translate>Language 2
          </a>
        </md-item-content>
      </a>
    </md-item>
  </md-list>
</md-sidenav>
